<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Change your page title -->
        <title>Chess Game</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <style>
        .imagealign {
            text-align: center
        }
    </style>
    <body>
        <!-- Modify this section START -->
        <p class="imagealign">
        <img src="../static/images/splash.jpg" alt="Placeholder for an awesome splash image" width="680" height="540">
        </p>
        <p>
            <form action="/newgame" method="POST" style="text-align:center;font-size:30px;padding: 12px 20px">
                <p> White player: <input type="text" name="wname" value="" placeholder="Name"></p>
                <p> Black player: <input type="text" name="bname" value="" placeholder="Name"></p>
                <input type="submit" value="Start new game">
            </form>
            
        </p>
        <!-- Modify this section END -->
    </body>
</html>