<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!-- Change your page title -->
	<title>Chess Game</title>
	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<!-- Modify this section START -->
    <table style="margin-left:auto;margin-right:auto">

		{% for row in game.display() %}
            {% set outer_loop = loop %}
            {% if outer_loop.index == 1 %}
                {% for cancer in row %}
                    <td class="num_blk">{{ cancer }}</td>
                {% endfor %}
            {% else %}
                {% for cell in row %}
                    {% set inner_loop = loop %}
                    {% if inner_loop.index == 1 %}
                        <td class="white">{{ cell }}</td>
                    {% else %}
                        {% if outer_loop.index is divisibleby 2 %}
                            {% if inner_loop.index is divisibleby 2 %}
                                <td class="white">{{ cell }}</td>
                            {% else %}
                                <td class="black">{{ cell }}</td>
                            {% endif %} 
                        {% else %} 
                            {% if inner_loop.index is divisibleby 2 %}
                                <td class="black">{{ cell }}</td>
                            {% else %}
                                <td class="white">{{ cell }}</td>
                            {% endif %} 
                        {% endif %} 
                    {% endif %} 
                {% endfor %}
            {% endif %}
		    </tr>
		{% endfor %}
	</table>

  <form action="/play" method="POST">
    <p> Would you like to promote your pawn? <p>
    <p> Choose a piece to promote to: <input type="text" name="promote" value="" placeholder="Piece"></p>
    <input type="submit" value="Promote">
  </form>

        <!-- Modify this section END -->
    </body>
</html>